<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- If a title is provided in
	the return render_template call in routes.py -->
    {% if title %}
        <title>{{ title }} - Micro-blog</title>
    {% else %}
        <title>Welcome to the Micro-blog</title>
    {% endif %}
</head>
<body>
    <div>Micro-blog:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
